//$mainBackGroundColor: #5C75EE;
$mainBackGroundColor: #06c1ae;
$mainTextColor: #FFFFFF;
$blackColor: #36374D;
$garyColor: #A1A2B3;
$backGroundColor: #EDEEF5;
$yellowColor: #FFA800;
$redColor: #CF2D28;



